<web-app>

<servlet>
<servlet-name>Login</servlet-name>
<servlet-class>Login</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>AdminLogin</servlet-name>
<servlet-class>AdminLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AdminLogin</servlet-name>
<url-pattern>/adminLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Signup</servlet-name>
<servlet-class>Signup</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Signup</servlet-name>
<url-pattern>/signup</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Register</servlet-name>
<servlet-class>Register</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Register</servlet-name>
<url-pattern>/register</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Test</servlet-name>
<servlet-class>Test</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Test</servlet-name>
<url-pattern>/Test</url-pattern>
</servlet-mapping>


</web-app>